footer{
	text-align:left;
	font-size: 12px;
}
a{
	text-decoration: none;
}
a:link{
	color:black;
}
a:visited{
	color:black;
}
a:hover{
	color:red;
	font-size:100%;
}

h1{
color:black;
font-family:futura;

}

html{
	background-color: #eef6f7;
}
h3{
   font-family: futura;
   color:black;
   font-size: 20px;
}
p{
	font-family: futura;
	font-size:16px;
}
ul{
	text-align: right;
	font-size:20px;
	padding:.3em;
	height: 1em;
	position: static;
}
li{
	display: inline-block;
	font-family:futura;
	padding-left:20px;
	padding-right:20px;
}
.banner{
	height:255px;
	width:80%;
	border:3px solid black;
	border-radius: 5px;
	padding:3px;
	position:static;
}
#line{
	height:1px;
	width:100%;
	background-color: black;
}


.mainbar-btn{
	padding-left:0em;
}
.contacts{
	height:20px;
	width:20px;
	float:left;
	margin:4px;
}
footer{
	height: 4em;
     position: relative;
     z-index: 1;
     background-color: black;
     color:white;
	
}