body{
	background-color: #d3d3d3;
}
h1, h2, h4{
	font-family: futura;
}
p{
	font-family:futura;
}
#key{
	color:blue;
}
#value{
	color:red;
}
img{
	border:3px double black;
}
a{
	font-size:110%;
	text-decoration: none;
	font-family: futura;
}
a:hover{
	font-size:120%;
	color:red;
}
a:visited{
	color:black;
	}