a:link{
	color:black;
}
a:visited{
	color:black;
}
html{
	background-color: #F3FFEB;
}

.prof-pic{
	height:70%;
	width:70%;
}
.jumbotron{
	background-image: url('../imgs/background_image.jpg');
	color:white;
	background-attachment: fixed;
	min-height: 400px;
	margin-top: 0px;
	margin-bottom: 8px;
}

.mainbar-btn{
	padding-left:0em;
}
