a:link{
	color:black;
}
a:visited{
	color:black;
}
.main-header{
	font-family: 'Apple Chancery';
	vertical-align: center;
}
.home-button{
	font-family: arial black;

}
.prof-pic{
	height:70%;
	width:70%;
}
#about{
	margin-bottom: 30px;
	margin-top: -40px;
}
.bg-info{
	width:100%;
}
.project{
	border-style: double;
	border-width: 5px;
	width: 480px;
	height: 360px;
}
.jumbotron{
	background: url('../imgs/andydandelion2.jpg') center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	min-height: 524px;
	margin-top: 50px;
	margin-bottom: 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover
}

.mainbar-btn{
	padding-left:0em;
}
