a:link{
	color:black;
}
a:visited{
	color:black;
}
.main-header{
	font-family: 'Apple Chancery';
	vertical-align: center;
}
.prof-pic{
	height:70%;
	width:70%;
}

.jumbotron{
	background-image: url('../imgs/andydandelion2.jpg');
	color:white;
	background-attachment: fixed;
	min-height: 524px;
	margin-top: 50px;
	margin-bottom: 50px;

}

.mainbar-btn{
	padding-left:0em;
}
